<div class="panel-body">

	<%= simple_form_for(@task) do |f| %>
	  <%= f.error_notification %>

		<%= f.input :name, label: false do %>
      <div class="input-group">
        <%= f.input_field :name, class: 'form-control input-lg', placeholder: 'Name' %>
        <span class="input-group-addon glyphicon glyphicon-user"></span>
      </div>
    <% end %></br>

    <%= f.input :description, label: false do %>
      <div class="input-group">
        <%= f.input_field :description, class: 'form-control input-lg', placeholder: 'Description' %>
        <span class="input-group-addon glyphicon glyphicon-list-alt"></span>
      </div>
    <% end %></br>

    <%= f.input :link, label: false do %>
      <div class="input-group">
        <%= f.input_field :link, class: 'form-control input-lg', placeholder: 'Link' %>
        <span class="input-group-addon glyphicon glyphicon-align-justify"></span>
      </div>
    <% end %></br>
	  <div class="form-actions">
	    <%= f.button :submit, "Save", class: 'btn-success' %>
	  </div>
	<% end %>
</div>
