<%= content_for(:title, "Zrob_to APP") %>
<% if user_signed_in? %>
	<div class="panel panel-default">
	  <div class="panel-heading"><h3><b>Wszystkie zadania</b></h3></div>
	  <div class="panel-body">
	    <% @tasks.each do |task| %>
	    <div class="panel panel-default">
		    <ul class="list-group">
			  <li class="list-group-item">
			  	<div class="panel-heading"><b><%= task.name %></b></div>
			  	<div class="panel-body well">
			  		<div class="row">
			  			<div class="col-md-4">
				  			<%= task.description %>
							<%= task.link %>
			  			</div>
			  			<div class="col-md-4">
			  				<% if task.completed %>
			  					<i class="fa fa-check fa-5x pull-right"></i>
			  				<% end %>
			  			</div>
			  		</div>

					<p>Utworzony przez: <%= task.user.email %></p>
				</div>
			  </li>
			  	<% if ( current_user == task.user ) %>
			 		<li class="list-group-item">
			 			<div class="btn-group btn-group-sm">
			          		<%= link_to 'Edit', edit_task_path(task), class: 'btn btn-success' %>
			          		<%= link_to 'Usuń', task, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-success' %>
			          		<% if task.completed.blank? %>
			          			<%= link_to gotowe_task_path(task), method: :patch, class: 'btn btn-danger' do %>
			          				<i class="fa fa-check-square-o"> Zrobione?</i>
			          			<% end %>
			          		<% else %>
			          		<br>
								<h3><span class="label label-primary">Zadanie wykonane !</span></h3>
			          		<% end %>
						</div>
			       	</li>
		       	<% end %>
			</ul>
		</div>
	    <% end %>
		<%= link_to 'New Task', new_task_path, class: 'btn btn-success' %>
	    <% if @tasks.empty? %>
	 		<li class="list-group-item">
	 			Nie masz jeszcze żadnego zadania. Dodaj nowe zadanie 
	 			<div class="btn-group btn-group-sm">
	          		<%= link_to 'New Task', new_task_path, class: 'btn btn-success' %>
				</div>
	       	</li>
       	<% end %>
	</div>
	</div>

<% else %>

	<div class="jumbotron">
		<div class="row">
		  <div class="col-md-6">
		  	<h1>zrob_to</h1>
			<h3>Aplikacja wspomagająca pracę</h3>
			<p><a class="btn btn-success btn-lg" role="button">Learn more</a></p>
		  </div>
		  <div class="col-md-6">
		  	<% 21.times do %>
		  		<i class="fa fa-spinner fa-spin fa-5x"></i>
		  	<% end %>

		  </div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam, necessitatibus?</div>
		<div class="col-md-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, sed, repellat, quae distinctio adipisci doloremque quidem aut culpa necessitatibus harum dolor ea soluta ipsum veritatis cum aliquid autem! Porro, tenetur, esse, hic nulla ea placeat facilis quis facere optio suscipit eligendi expedita voluptates incidunt accusamus adipisci quos modi natus quasi accusantium fugiat debitis beatae libero error distinctio laborum deleniti veritatis deserunt possimus architecto officia magnam exercitationem eius illo pariatur nostrum dolorem aspernatur soluta? Debitis, reprehenderit rerum ratione asperiores eum explicabo totam incidunt quisquam velit alias suscipit magni dicta. Porro, cumque incidunt suscipit aperiam expedita qui ab vel molestiae eum reprehenderit.</div>
		<div class="col-md-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, quae, animi sunt ut atque vero aut quidem ipsam consectetur non dignissimos laudantium error possimus repellat voluptate dolores eaque veritatis quibusdam quasi temporibus! Eius, tenetur, numquam, hic, ea illo eaque dignissimos perferendis molestiae saepe tempora rerum enim vero sit est unde.</div>
	</div>

	<div class="row">
		<div class="col-md-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, delectus.</div>
	</div>


<% end %>